<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="">
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{% block title %}}{% endblock %}</title>

    <!-- Fontfaces CSS-->
    <link href="{{url_for('static', filename = 'css/font-face.css')}}" type="text/css" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'vendor/font-awesome-4.7/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'vendor/font-awesome-5/css/fontawesome-all.min.css')}}" type="text/css" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'vendor/mdi-font/css/material-design-iconic-font.min.css" type="text/css" rel="stylesheet')}}" >

    <!-- Bootstrap CSS-->
    <link href="{{url_for('static', filename = 'vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" type="text/css" >

    <!-- Vendor CSS-->
    <link href="{{url_for('static', filename = 'vendor/animsition/animsition.min.css')}}" rel="stylesheet" type="text/css" >
    <link href="{{url_for('static', filename = 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" type="text/css" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'vendor/wow/animate.css')}}" type="text/css" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'vendor/css-hamburgers/hamburgers.min.css')}}" type="text/css" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'vendor/slick/slick.css')}}" rel="stylesheet" type="text/css" >
    <link href="{{url_for('static', filename = 'vendor/select2/select2.min.css')}}" rel="stylesheet" type="text/css" >
    <link href="{{url_for('static', filename = 'vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" type="text/css" >

    <!-- Main CSS-->
    <link href="{{url_for('static', filename = 'css/theme.css')}}" rel="stylesheet" type="text/css" >

    <!-- MaterializeCSS -->
    

    {% block extraCSS %}{% endblock %}

</head>


<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index">
                           <span>LuciTech</span>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="index">
                                <i class="fas fa-tachometer-alt"></i>Home</a>
                        </li>
                        <li>
                            <a href="search">
                                <i class="fas fa-chart-bar"></i>Search Tweets</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="index">
                    <span>LuciTech</span>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="index">
                                <i class="fas fa-tachometer-alt"></i>Home</a>
                        </li>
                        <li>
                            <a href="search">
                                <i class="fas fa-chart-bar"></i>Search Twitter</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Not yet functional" />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

		{% block main_content %}{% endblock %}
            
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{{url_for('static', filename = 'vendor/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap JS-->
    <script src="{{url_for('static', filename = 'vendor/bootstrap-4.1/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
    <!-- Vendor JS       -->
    <script src="{{url_for('static', filename = 'vendor/slick/slick.min.js')}}">
    </script>
    <script src="{{url_for('static', filename = 'vendor/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/animsition/animsition.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
    </script>
    <script src="{{url_for('static', filename = 'vendor/counter-up/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/counter-up/jquery.counterup.min.js')}}">
    </script>
    <script src="{{url_for('static', filename = 'vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/chartjs/Chart.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/select2/select2.min.js')}}">
    </script>

   
    <!-- Main JS-->
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>

</body>

</html>
<!-- end document-->
