{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Search for Tweets {% endblock %}

{% block extraCSS %}
	<style>
		.form-box{
			max-width:max-content;
			margin: 0 auto;
			margin-top: 0;
			padding: 30px;
			/*background-color:thistle;*/
			border-radius: 5px;
			display: block;
		}


		.fields{
			border: black;
			border-radius: 5px;
			padding-left: 10px;
			margin: 0 auto;

		}

		.row{
			padding-bottom: 20px;
		}
	</style>
	<script></script>
{% endblock %}


{% block main_content %}

	<div class="main-content container">
		<div class="form-box #424242 grey darken-3">
			<form class="black-text" action="" method="POST">
				{{ form.hidden_tag() }}
				<div class="row">
					<i class="small material-icons prefix">search</i>
					{{ form.query(placeholder="Search for tweets with keyword :", class_="fields black-text") }}
				</div>
			</form>
		</div>
	</div>

{% endblock %}
