{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Search for Tweets {% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='materialize_colors.css')}}">
	<style type="text/css">
		.form-box{
			padding: 25px;
			padding-left: 40px;
			background-color: yellowgreen ;
			border-radius: 10px;			
		}


		.fields{
			border: black;
			border-radius: 2px;
			margin-right: 10px;
			padding-left: 10px;
		}

		.instruction-box{
			padding: 5%;
			background-color:yellowgreen;
			border-radius: 10px;
			
		}

	</style>
	
{% endblock %}

{% block body_attribs %}
	class="bg-dark"
{% endblock %}

{% block content %}
	<div class='main-content container'>
		<br>
		<div class="row">
			<div class="col-md-7">
				<div class="form-box">
					<form action="" method="POST">
						{{ form.hidden_tag() }}
						<div class="row" style="padding-bottom: 20px;">
							<div class="col-md-4">
								{{ form.query.label }}<br>
								{{ form.query(size=7, placeholder="e.g. 'CAA'", class_="fields") }}
							</div>
							<div class="col-md-4">
								{{ form.location.label }}<br>
								{{ form.location(size=1) }}
							</div>
							<div class=col-md-4>
								{{ form.ntweets.label }}<br>
								{{ form.ntweets(size=1, placeholder='100',class_='fields') }}
								
							</div>
						</div>
						<hr>
						<div class="row" style="padding-bottom: 20px;">
							<div class="col-md-9">
								<div class="row">
								{{ form.time1.label }} &nbsp : &nbsp 
								{{ form.time1(class_='fields') }}
							</div>
							<hr>
							<div class="row">
								{{ form.time2.label }} &nbsp : &nbsp
								{{ form.time2(class_="fields") }}
							</div>
							<hr>
							<div class="row">
								{{ form.language.label }} &nbsp : &nbsp
								{{ form.language(size=1) }}
							</div>
							</div>
							<div class="col-md-3">
									
									<br>
									<br>
									&nbsp  &nbsp
								{{ form.submit(class_='btn btn-primary') }}
								
							</div>
							
						</div>
					</form>
				</div>
				
			</div>
			<div class="col-md-5">
				<div class="instruction-box">
					<h4><center>Instructions for use</center></h4>
					<ol>
						<li>Search input is mandatory</li>
						<li>Default values are displayed wherever possible.</li>
						<li>The tool provides results from last 7 days only.</li>
						<li>Double check dates before searching.</li>
						<li>If the date selected is 01/30/2020, tweets before this date will be fetched. If you need tweet for 30th, select 31st in the input.</li>
						<li>Tweets provided are sorted by 'recent'.</li>
						<li>More the number of tweets, more the time to load tweets.</li>
					</ol>
				</div>
			</div>
		</div>
		<hr><br>
		{% if _tweet_ %}
			<div class="container" style="background-color:lemonchiffon; padding: 2%; border-radius: 5px;">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Tweet</th>
							<th scope="col">Date</th>
							<th scope="col">URL</th>
					</thead>
					<tbody>
						{% for row in data %}
							<tr class="">
								<th scope="row">{{loop.index}}</th>
								<td>{{row['full_text']}}</td>
								<td style="white-space: nowrap;">{{' '.join(((row['created_at']).split())[1:3])}}</td>
								<td><a href="{{row['URL']}}" target="_blank">Tweet</a></td>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<br>
			<div class="row">	
				<a class="btn btn-primary" href="download/" target="_blank" style="margin: 0 auto;" role=button>Download</a>
				</div>
				<br>
		{% endif %}
	</div>
{% endblock %}